<app-navbar></app-navbar>
<div class="course-page">
    <div class="add-card">
        <div class="card" style="width: 18rem;">
            <img src="../../../../assets/course.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="container">


                    <form [formGroup]="addForm" (ngSubmit)="onAdd()">

                        <label for="title">Title</label>
                        <input type="text" placeholder="Title" formControlName="Title">

                        <label for="credits">Credits</label>
                        <input type="text" placeholder="Credits" formControlName="Credits">
                        <button type="submit" class="btn btn-primary">Add Course</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Course ID</th>
                <th scope="col">Title</th>
                <th scope="col">Credits</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of courses">
                <th>{{course.courseId}}</th>
                <td>{{course.title}}</td>
                <td>{{course.credits}}</td>
                <td><button class="btn btn-success" routerLink="edit/{{course.courseId}}">Edit</button>
                </td>
                <td><button type="button" class="btn btn-info"
                        (click)="onDetailsModal(course.courseId,course.title, course.credits)">Details</button></td>
                <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal"
                        (click)="onOpenModal(course.courseId, course.title)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- The Delete Modal -->
<div class="modal" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Delete Course</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="onCloseModal()"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                Delete the "{{ courseTitle }}" course successfully!
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    (click)="onCloseModal()">Close</button><span class="ml-5">
                    <!-- <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                        (click)="onDelete()">Delete</button> -->
                </span>

            </div>

        </div>
    </div>
</div>

<!-- The Details Modal -->
<div class="modal" id="detailsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Course Details</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    (click)="onCloseDetailsModal()"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Course ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Credits</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{{courseId}}</th>
                            <td>{{courseTitle}}</td>
                            <td>{{courseCredits}}</td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    (click)="onCloseDetailsModal()">Close</button><span class="ml-5">
                    <!-- <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                        (click)="onDelete()">Delete</button> -->
                </span>

            </div>

        </div>
    </div>
</div>