<div class="editmodal">

    <h1>Edit Student</h1>


    <div>
        <form [formGroup]="editForm" (ngSubmit)="editStudent()">
            <div class="form-group">

                <input type="text" class="form-control" placeholder="Student ID" formControlName="StudentId">
                <input type="text" class="form-control" placeholder="First Name" formControlName="FirstName">

                <input type="text" class="form-control" placeholder="Last Name" formControlName="LastName">

                <input type="email" class="form-control" placeholder="Email" formControlName="email">


            </div>
            <div class="btnEdit">
                <button type="submit" class=" btn  btn-success">Add</button>
            </div>

        </form>

    </div>


</div>

<!-- [formGroup]="editForm" (ngSubmit)="editStudent(studentId)" -->