<div class="container">
    <div class="wrapper">
        <div class="title"><span>Login</span></div>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <small *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">*Email is required</small>
            <div class="row">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Email" formControlName="email" required>
                
            </div>

            <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">*Password is required</small>
            <div class="row">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Password" formControlName="password" required>
            </div>
            
            <div class="pass"><a href="#">Forgot password?</a></div>
            <div class="row button">
                <input type="submit" value="Login">
            </div>
            <div class="signup-link">Not a member? <a routerLink="/auth/signup">Signup now</a></div>
        </form>
    </div>
</div>