<nav>
    <div class="nav-content">
        <div class="logo">
            <a href="#">Contoso-University</a>
        </div>
        <ul class="nav-links">
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/pages/student">Students</a></li>
            <li><a routerLink="/pages/course">Courses</a></li>
            <li><a routerLink="/pages/enrollment">Enrollments</a></li>
            <li><ng-container *ngIf="isLoggedIn(); else showSignup">
                    <a routerLink="/home" (click)="logout()">Logout</a>
                </ng-container>
                <ng-template #showSignup>
                    <a routerLink="/auth/signup" routerLinkActive="active">Signup</a>
                </ng-template>
            </li>
        </ul>
    </div>
</nav>
<div class="mt-20">
    <hr>
</div>