<nav>
    <div class="nav-content">
        <div class="logo">
            <a href="#">Contoso-University</a>
        </div>
        <ul class="nav-links">
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Contact</a></li>
            <li><a routerLink="/signup" routerLinkActive="active">Signup</a></li>
        </ul>
    </div>
</nav>
<section class="home"></section>