<app-navbar></app-navbar>
<h1>Enrollment</h1>
<div class="add-card">
    <div class="card" style="width: 18rem;">
        <img src="../../../../assets/enrollment-image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="container">


                <form [formGroup]="addForm" (ngSubmit)="onAdd()">
                    <!-- <label for="enrollmentId">Enrollment ID</label>
                    <input type="text" id="enrollmentId" name="enrollmentId" placeholder="Enrollment ID"
                        formControlName="EnrollmentId"> -->

                    <label for="courseId">Course ID</label>
                    <input type="text" id="courseId" name="courseId" placeholder="Course ID" formControlName="CourseId">

                    <label for="studentId">Student ID</label>
                    <input type="text" id="studentId" name="studentId" placeholder="Student ID"
                        formControlName="StudentId">

                    <label for="enrollmentDate">Enrollment Date</label>
                    <input type="date" id="enrollmentDate" name="enrollmentDate" placeholder="Enrollment Date"
                        formControlName="EnrollmentDate">

                    <button type="submit" class="btn btn-primary">Add Enrollment</button>




                </form>
            </div>

        </div>
    </div>
</div>


<div class="enrollment-page">


    <table class="table">
        <thead>
            <tr>
                <th scope="col">Enrollment ID</th>
                <th scope="col">Course ID</th>
                <th scope="col">Student ID</th>
                <th scope="col">Enrollment Date</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let enrollment of enrollments">
                <th>{{enrollment.enrollmentId}}</th>
                <td>{{enrollment.courseId}}</td>
                <td>{{enrollment.studentId}}</td>
                <td>{{enrollment.enrollmentDate | date:'dd MMM, yyyy'}}</td>
                <td><button class="btn btn-success" routerLink="edit/{{enrollment.enrollmentId}}">Edit</button>
                </td>
                <td><button type="button" class="btn btn-info"
                        (click)="onDetailsModal(enrollment.enrollmentId,enrollment.courseId,enrollment.studentId,enrollment.enrollmentDate)">Details</button>
                </td>
                <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal"
                        (click)="onOpenDeleteModal(enrollment.enrollmentId)">Delete</button></td>
            </tr>

        </tbody>
    </table>
</div>

<!-- The Enrollment Details Modal -->
<div class="modal" id="detailsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Enrollment Details</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    (click)="onCloseDetailsModal()"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Enrollment ID</th>
                            <th scope="col">Course ID</th>
                            <th scope="col">Student ID</th>
                            <th scope="col">Enrollment Date</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{{EnrollmentId}}</th>
                            <td>{{EnrollmentCourseID}}</td>
                            <td>{{EnrollmentStudentID}}</td>
                            <td>{{EnrollmentDate | date:'dd MMM, yyyy'}}</td>


                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    (click)="onCloseDetailsModal()">Close</button><span class="ml-5">
                    <!-- <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                        (click)="onDelete()">Delete</button> -->
                </span>

            </div>

        </div>
    </div>
</div>

<!-- The Delete Modal -->
<div class="modal" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Delete Enrollment</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="onCloseModal()"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                Delete the "{{ EnrollmentId }}" enrollment successfully!
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    (click)="onCloseModal()">Close</button><span class="ml-5">
                    <!-- <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                        (click)="onDelete()">Delete</button> -->
                </span>

            </div>

        </div>
    </div>
</div>